# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Viusal C
*.vcproj
*.ncb
*.sln
*.suo
*.vcproj.*
AntTweakBar.dll
glew32.dll

CMakeCache.txt
CMakeFiles
CMakeScripts
Debug
cmake_install.cmake
project.pbxproj
sssdk.xcodeproj
*.swp
*.vcxproj
*.filters
*.user
*.opensdf
*.sdf
*.ipch
AntTweakBar64.dll
glew32mx.dll
Release/
Build/Viewer/python27_d.dll
