# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
CMakeFiles
CMakeScripts
Debug
cmake_install.cmake
project.pbxproj
sssdk.xcodeproj
*.swp
